<div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>

  <!--Change this to customize the navigation-->
  <div class="taglist-wrapper clearfix">
    <ul id="taglist" class="taglist">
        {{#foreach navigation}}
        	<li class="{{#if current}}nav-current{{/if}}" ><a href="{{url absolute="true"}}">{{label}}</a></li>
    	{{/foreach}}
    </ul>
</div>