<div class="box sidebox about">
  <div class="sidebox-title">关于博客</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>
  </div>
</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">最新文章</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

